@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

// CORES 
// Nav
$text-color: #fff;
$background-color-nav: rgba(48 56 39 / 43%);

// Hero 
$color-p: #212F11;
$color-p2: #000;

// Projects

$background-projects: #A6B292;


// Botao topo
$background-btn-top: #2C5530;
$background-btn-top-hover: #90EE90;

// FONTES
$font-family: "Montserrat", sans-serif;

// Hero
$font-size-h2: 70px;
$font-weight: bold;
$font-btn-hero: 20px;
$font-size-p: 0.9em;
$font-weight: 300;






