@use 'variables' as v;

.landing {
    position: relative;
    background-image: url(../assets/fundo-landing.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 100vh;
}